/* stylelint-disable color-function-notation */
/* stylelint-disable color-function-notation */
/* stylelint-disable function-url-quotes */
/* stylelint-disable @stylistic/string-quotes */
/* stylelint-disable @stylistic/indentation */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(ImagenesFondo/Diseño2.png);
  margin: 0;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px black;
  width: 500px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
select{
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"]{
  margin-right: 5px;
}

button {
  background-color: blue;
  color:white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: blueviolet;
}

input[type="file"] {
  padding: 10px;
  margin-bottom: 15px;
}

textarea {
  width: 90%; /* Igual que los inputs */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Permitir que el usuario ajuste la altura */
  height: 100px; /* Altura predeterminada */
}

.back-button
{
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgb(100, 203, 100);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80px;
}

.back-button:hover {
    background: rgb(42, 0, 67);
}

.titulo-formulario
{
position: absolute;
top: 20px;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;

}
